body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #3cc6db;
}

.encabezado{
    margin-top: 10px;
}

.img-pokemon{
    position: relative;
    width: 175px;
    height: 150px;
    top: -15px;
    left: -5px;
}
.pokedex{
    position: absolute;
    height: 450px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url('./assets/img/pokedex.webp');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.imagen{
    position: relative;
    top: 110px;
    left: -12px;
    right: 0;
    bottom: 0;
    margin: auto;
    
    width: 176px;
    height: 119px;
    z-index: -1;
}

.info-poke{
    position: relative;
    top: 170px;
    left: -12px;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    width: 210px;
    height: 75px;
    border-radius: 4px;
}

.boton{
    position: relative;
    background-color: rgb(15, 235, 247);
    top: 192px;
    left: -8px;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0px;
    width: 100.5px;
    height: 35px;
    border: 2px solid;
    cursor: pointer;
    border-radius: 5px;
}

.nombre-pokemon{
    position: relative;
    top: 20px;
}